.page-body{
width: 1280px;
height: 1626px;
text-align: center;
margin-bottom: 20px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
border: 1px;
padding: 20px;
}

.navibar-menu{
    list-style: none;
    display: table;
    font-family: 'Montserrat';
    margin: auto;
        
}
    
.navibar-menu-item{
    display: block;
    float: center;
    list-style-type: none;
    display: table-cell;
    color: orange;
    padding: 30px;
    font-size: 40px;
    font-weight: bold;
    
         
    }
    
.navibar-menu-item-home{
list-style-type: none;
display: table-cell;
color: orange;
 }

.navbar-menu-link{
    color: orange;
   
 }

.one-image{
width: 1280px;
height: 789px;    
}

.header{
    height: 32px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 253px;
    margin-right: 253px;
    padding: 5px;
    color: #373737;
    font-size: 26px;
    font-family: 'Montserrat';
    font-weight: bold;
}

.text-one{
    font-size: 21px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 14px;
    margin-right: 67.5px;
    margin-left: 67.5px;
    border: 5px;
    font-family: 'Calibri';    

}

.text-two{
    font-size: 21px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    margin-bottom: 50px;
    margin-top: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Calibri';
    
}

.box{
    color: whitesmoke;
    width: 150px;
    height: 30px;
    padding: 10px;
    margin-left: 544.5px;
    margin-right: 544.5px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-sizing: content-box;
    position: relative;
    font-size: 20px;
    background: orangered;
   
    
}

.under{
    width: 500px;
    height: 35px;
    padding: 2px;
    margin-left: 600px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'Montserrat';
    font-size: 20px;

}


a{
    text-decoration: none;
}
